apiVersion: v1
kind: ConfigMap
metadata:
  name: shared-configmap-rag
  labels:
    {{- include "private-ai.labels" . | nindent 4 }}
data:
  POSTGRES_HOST: {{ .Values.rag.postgresHost }}
  POSTGRES_USERNAME: {{ .Values.global.postgresql.auth.username }}
  GCS_BUCKET_NAME: {{ .Values.rag.gcsBucketName }}
  ALLOWED_CORS_ORIGIN: {{ include "private-ai.corsOrigins" . }}
  NH_DATA_SERVICE_URL: {{ .Values.rag.dataServiceUrl }}
  NH_DATA_SERVICE_URL_BACKEND: {{ .Values.rag.dataServiceUrlBackend | default .Values.rag.dataServiceUrl }}
  NH_RAG_API_URL: {{ .Values.rag.ragApiUrl }}
  GOOGLE_API_SCOPES: {{ .Values.rag.googleApiScopes }}
  NH_WEBUI_CUSTOM: {{ .Values.rag.custom | toJson | quote }}
  ALLOWED_EXTENSIONS: {{ .Values.rag.allowedExtensions }}
  DOCKER_IMAGE: {{ include "private-ai.image" . }}
  {{- if .Values.rag.googleAllowedExtensions }}
  GOOGLE_ALLOWED_EXTENSIONS: {{ .Values.rag.googleAllowedExtensions }}
  {{- end }}
  {{- if eq .Values.ingress.oauth2Proxy.enabled true }}
  ENABLE_SIGNUP: 'true'
  WEBUI_AUTH_TRUSTED_EMAIL_HEADER: X-Forwarded-Email
  WEBUI_AUTH_TRUSTED_NAME_HEADER: X-Forwarded-User
  ENABLE_OAUTH_SIGNUP: 'true'
  WEBUI_SESSION_COOKIE_SAME_SITE: lax
  WEBUI_AUTH_COOKIE_SAME_SITE: lax
  ENABLE_LOGIN_FORM: 'true'
  SSO_PROVIDER_NAME: {{ .Values.ingress.oauthProviderName | quote }}
  {{- end }}
  {{- if eq .Values.dataIngestion.enabled true }}
  ENABLE_SSO_DATA_SYNC: {{ .Values.dataIngestion.enabled | quote }}
  OVERIDE_WEB_SOCKET_URL: {{ .Values.dataIngestion.config.overideWebSocketUrl | quote }}
  DATASOURCES_URL: {{ .Values.dataIngestion.config.dataSourcesUrl | quote }}
  SLACK_REDIRECT_URI: {{ .Values.dataIngestion.config.slackRedirectUrl | quote }}
  GOOGLE_REDIRECT_URI: {{ .Values.dataIngestion.config.googleRedirectUrl | quote }}
  MICROSOFT_REDIRECT_URI: {{ .Values.dataIngestion.config.microsoftRedirectUrl | quote }}
  ATLASSIAN_REDIRECT_URI: {{ .Values.dataIngestion.config.atlassianRedirectUrl | quote }}
  MINERAL_REDIRECT_URI: {{ .Values.dataIngestion.config.mineralRedirectUrl | quote }}
  GITHUB_REDIRECT_URI: {{ .Values.dataIngestion.config.githubRedirectUrl | quote }}
  HUBSPOT_REDIRECT_URI: {{ .Values.dataIngestion.config.hubspotRedirectUrl | quote }}
  SALESFORCE_REDIRECT_URI: {{ .Values.dataIngestion.config.salesforceRedirectUrl | quote }}
  {{- end }}
  LLM_BASE_URL: {{ .Values.global.llmBaseUrl | quote }}
  {{- if .Values.global.enableSSO }}
  WEBUI_AUTH_TRUSTED_EMAIL_HEADER: X-Auth-Request-Email
  WEBUI_AUTH_TRUSTED_NAME_HEADER: X-Auth-Request-User
  {{- end }}
  {{- if eq (index .Values "nh-mcp-server").enabled true }}
  NH_MCP_SERVER_URL: {{ (index .Values "nh-mcp-server").config.url | quote }}
  {{- end }}
  NODE_ENV: {{ .Values.global.nodeEnv }}
  JUICEFS_S3_ENDPOINT: {{ .Values.global.juiceFsUrl | quote }}