/.idea
.DS_Store
.thumbs.db
node_modules
.vscode

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Terraform
*.tfstate
*.tfvars
.terraform*

# global
**/.env

# Local test values files
# These files are used for local testing and should not be committed to the repository.
test-values.yaml

# Chart dependencies files
Chart.lock
**/charts/*
