apiVersion: v2
name: private-ai-rag
description: KAOPS addon to install private-ai

# A chart can be either an 'application' or a 'library' chart.
#
# Application charts are a collection of templates that can be packaged into versioned archives
# to be deployed.
#
# Library charts provide useful utilities or functions for the chart developer. They're included as
# a dependency of application charts to inject those utilities and functions into the rendering
# pipeline. Library charts do not define any templates and therefore cannot be deployed.
type: application

# This is the chart version. This version number should be incremented each time you make changes
# to the chart and its templates, including the app version.
# Versions are expected to follow Semantic Versioning (https://semver.org/)
version: 0.1.388

# This is the version number of the application being deployed. This version number should be
# incremented each time you make changes to the application. Versions are not expected to
# follow Semantic Versioning. They should reflect the version the application is using.
# It is recommended to use it with quotes.
# NOTE: open webui was forked and this currently matches our release tag in the `values` file.
appVersion: "v0.6.33-alpha.1"

dependencies:
  - name: open-webui
    version: 8.10.0
    repository: https://helm.openwebui.com/
    condition: open-webui.enabled
  - name: postgresql
    version: 16.6.3
    repository: https://charts.bitnami.com/bitnami
    condition: postgresql.enabled
  - name: qdrant
    version: 1.13.6
    repository: https://qdrant.github.io/qdrant-helm
    condition: qdrant.enabled
  - name: nh-rag
    version: 0.1.9
    alias: nh-rag-api
    repository: https://nethopper2.github.io/helm-charts/
    condition: nh-rag-api.enabled
  - name: redis
    version: 21.2.3
    repository: https://charts.bitnami.com/bitnami
    condition: redis.enabled
  - name: juicefs-s3-gateway
    version: 0.1.29
    repository: https://nethopper2.github.io/helm-charts/
    condition: juicefs-s3-gateway.enabled
  - name: nh-pai-data-service
    version: 0.1.20
    repository: https://nethopper2.github.io/helm-charts/
    condition: nh-pai-data-service.enabled
  - name: nh-mcp-server
    version: 0.4.0
    repository: https://nethopper2.github.io/helm-charts/
    condition: nh-mcp-server.enabled