metadata:
  slug: private-ai-rag
  name: Private AI
  description: Deploy generative AI while safeguarding corporate data and scaling into your own infrastructure.
  categories: [Artificial Intelligence]
  logoUrlDark: "https://nh-addons.s3.us-east-1.amazonaws.com/private-ai/logo-dark.png"
  logoUrlLight: "https://nh-addons.s3.us-east-1.amazonaws.com/private-ai/logo-light.png"
  detailUrl: "https://addons.kaops.net/private-ai-rag/"
  externalUrl: "https://nethopper.io"
  isProduction: true
  isStaging: false
  useSafeDelete: true
  serverSideDiff: true
  installTargets:
    clusterMessage: Must be installed on clusters configured for Ingress.
    infoMessage: Install the oAuth2 Proxy Addon to use SSO.

forms:
  - slug: default
    label: Configuration
    steps:
      - slug: details
        #        isCreateOnly: true
        variableSlugs:
          - ssoEnabled
          - dataIngestionEnabled
          - gpuEnabled
          - modelsToPull
          - awsOpenAIKeySecretRef
          - additionalHosts
        ui:
          label: Details
      - slug: sso
        #        isCreateOnly: true
        variableSlugs:
          - systemAdmin
          - oauthProviderName
        ui:
          if: $get(ssoEnabled).value
          label: SSO
      - slug: dataIngestion
        variableSlugs:
          - dataIngestionCredentialsRef
        ui:
          if: $get(dataIngestionEnabled).value
          label: Data Ingestion
      - slug: postInstall
        #        isCreateOnly: true
        variableSlugs:
          - postInstallOptions
          - postInstallGroupsSuggested
          - postInstallSector
          - noSsoOpenWebUiLogo
          - noSsoOpenWebUiBgImageAuth
          - noSsoOpenWebUiBgMovieAuth
        ui:
          label: Options

variables:
  #sso variables
  - slug: ssoEnabled
    path: ingress.oauth2Proxy.enabled
    forms: [default]
    ui:
      type: toggle
      label: Use Single Sign On
      id: ssoEnabled
      value: false
  - slug: systemAdmin
    path: ingress.oauth2Proxy.adminEmail
    forms: [default]
    ui:
      type: text
      label: System Admin Email
      id: systemAdmin
      help: An email for admin account of your private AI
      validation: email
  - slug: oauthProviderName
    path: ingress.oauthProviderName
    forms: [default]
    ui:
      type: select
      label: OAuth Provider Name
      id: oauthProviderName
      options:
        - label: Google
          value: google
        - label: Microsoft
          value: microsoft
        - label: Okta
          value: okta
      validation: required
  # data ingestion variables start
  - slug: dataIngestionEnabled
    path: dataIngestion.enabled
    forms: [default, defaultUpdate]
    ui:
      type: toggle
      label: Enable Data Ingestion
      id: dataIngestionEnabled
      value: false
  - slug: dataIngestionCredentialsRef
    path: dataIngestion.config.dataIngestionCredentialsRef
    forms: [default, defaultUpdate]
    ui:
      type: secret
      label: Data Ingestion Credentials Secret Reference
      id: dataIngestionCredentialsRef
      help: Sealed Secret Data Ingestion Credentials Reference
  # aws bedrock variables start
  - slug: awsOpenAIKeySecretRef
    path: "global.awsOpenAIKeySecretRef"
    forms: [default]
    ui:
      type: secret
      label: AWS OpenAI Key (Bedrock)
      help:  Amazon Bedrock API key.
      validation: optional
  # aws bedrock variables end
  # data ingestion variables end
  - slug: gDriveGoogleApplicationsCredentialsSecretRef
    path: "global.googleApplicationCredentialsSecretRef"
    forms: [default]
    ui:
      type: secret
      label: Google Application Credentials
      help: Base64 encoded Google Application Credentials JSON file.
      validation: required
  - slug: gDriveGcsBucketName
    path: "rag.gcsBucketName"
    forms: [default]
    ui:
      type: text
      label: "Destination: GCS Bucket Name"
      help: Name of the GCS bucket sync target.
      validation: required
  - slug: gpuEnabled
    path: open-webui.ollama.ollama.gpu.enabled
    forms: [default]
    ui:
      type: toggle
      label: Use GPU
      help: Install the oAuth2 Proxy Addon to use SSO.
      value: false
  - slug: additionalHosts
    path: ingress.additionalHosts
    forms: [default]
    ui:
      type: taglist
      label: Additional Hosts
      help: "Add additional hosts to the ingress resource."
      popover: true
      allowNewValues: true
  - slug: modelsToPull
    path: open-webui.ollama.ollama.models.pull
    forms: [default]
    ui:
      type: transferlist
      label: Select LLM Models to Pull
      sourceLabel: LLM Models
      options: [gemma2, gemma3:1b, gemma3:4b, llama3.1:8b, llama3.2:3b]
      help: "Models to pull from: https://ollama.com/search"
      searchable: true
  - slug: postInstallOptions
    path: postInstall.chosenPostInstallOptions
    forms: [default]
    ui:
      el: div
      children:
        - el: p
          children: |-
            The installation process optionally creates Knowledge Collections, Prompts, and User Groups 
            (non-SSO only) in your AI service. Admins can add, change, or remove these after installation.
        - el: div
          children:
            - el: div
              attrs:
                class: mb-2
              children:
                - if: "$get(ssoEnabled).value"
                  then: "SSO Enabled"
                  else: "SSO Disabled"
        - label: Create Knowledge Collections, Prompts, and User Groups
          type: radio
          id: postInstallOptions
          name: chosenPostInstallOptions
          options:
            - label: Create Assets
              value: suggested
            - label: I'll do this later
              value: none
          value: suggested
          # help: All settings here may be changed inside the addon.
  - slug: postInstallSector
    path: rag.custom.sector
    forms: [default]
    ui:
      if: "$get(ssoEnabled).value !== true"
      type: select
      label: Sector
      options:
        - label: Default
          value: default
        - label: Investment Banking
          value: investmentBanking
      value: default
  - slug: noSsoOpenWebUiLogo
    path: rag.custom.logo
    forms: [default]
    ui:
      if: "$get(ssoEnabled).value !== true"
      type: url
      label: Auth Screen Logo Image URL
      help: Logo shown on the login screen.
  - slug: noSsoOpenWebUiBgImageAuth
    path: rag.custom.bgImageAuth
    forms: [default]
    ui:
      if: "$get(ssoEnabled).value !== true"
      type: url
      label: Auth Screen Background Image URL
      help: Background image on the login screen.
  - slug: noSsoOpenWebUiBgMovieAuth
    path: rag.custom.bgMovieAuth
    forms: [default]
    ui:
      if: "$get(ssoEnabled).value !== true"
      type: url
      label: Auth Screen Background Movie URL
      help: Background movie on the login screen.
  - slug: postInstallGroupsSuggested
    path: postInstall.groups
    forms: [default]
    ui:
      el: div
      key: "$: 'postInstallCreateAssets-' + $get(postInstallOptions).value"
      attrs:
        class: text-neutral-500 pb-4
      children:
        - el: div
          if: "$get(postInstallOptions).value == 'suggested' && $get(ssoEnabled).value == true"
          children: |-
            The installer will create arbitrary Knowledge Collections, User Prompts, and Groups. 
            With SSO enabled, the application manages group membership based on the user SSO configuration. 
            When a user logs in via SSO, the application creates groups if they are not defined, and adds 
            the user to all groups specified by the SSO.

        - el: div
          if: "$get(postInstallOptions).value == 'none' && $get(ssoEnabled).value == true"
          children: |-
            The installer will not create Knowledge Collections, User Prompts and Groups. 
            With SSO enabled, the application manages group membership based on the user SSO configuration. 
            When a user logs in via SSO, the application creates groups if they are not defined, and adds 
            the user to all groups specified by the SSO.

        - el: div
          if: "$get(postInstallOptions).value == 'suggested' && $get(ssoEnabled).value !== true"
          children: |-
            The installer will create arbitrary Knowledge Collections, User Prompts, and Group 
            definitions.

        - el: div
          if: "$get(postInstallOptions).value == 'none' && $get(ssoEnabled).value !== true"
          children: |-
            The installer will not create arbitrary Knowledge Collections, User Prompts, and Group 
            definitions.

system:
  - path: "ingress.host"
    value: "chat.${system.cluster.name}.${system.hubCluster.ingressHostname}"
  - path: "rag.postgresHost"
    value: "${system.cluster.name}-private-ai-rag-postgresql.nh-addons.svc.cluster.local"
  - path: "rag.googleApiScopes"
    value: "https://www.googleapis.com/auth/drive.readonly"
  - path: "rag.allowedCorsOrigin"
    value: "https://chat.${system.cluster.name}.${system.hubCluster.ingressHostname}|https://oauth.${system.cluster.name}.${system.hubCluster.ingressHostname}"
  - path: "nh-rag-api.env.QDRANT_URL"
    value: "http://${system.cluster.name}-private-ai-rag-qdrant.nh-addons.svc.cluster.local:6333"
  - path: "juicefs-s3-gateway.secret.config.metaurl"
    value: "postgres://postgres@${system.cluster.name}-private-ai-rag-postgresql.nh-addons.svc.cluster.local:5432/juicefs"
  - path: "nh-pai-data-service.config.juiceFsUrl"
    value: "http://${system.cluster.name}-private-ai-rag-juicefs-s3-gateway.nh-addons.svc.cluster.local:9000"
  - path: "nh-rag-api.config.juiceFsUrl"
    value: "http://${system.cluster.name}-private-ai-rag-juicefs-s3-gateway.nh-addons.svc.cluster.local:9000"
  - path: "global.juiceFsUrl"
    value: "http://${system.cluster.name}-private-ai-rag-juicefs-s3-gateway.nh-addons.svc.cluster.local:9000"
  - path: "nh-rag-api.metrics.serviceMonitor.labels.release"
    value: "${system.cluster.name}-observability-edge"
  - path: "postgresql.metrics.serviceMonitor.labels.release"
    value: "${system.cluster.name}-observability-edge"
  - path: "redis.metrics.serviceMonitor.additionalLabels.release"
    value: "${system.cluster.name}-observability-edge"
  - path: "qdrant.metrics.serviceMonitor.additionalLabels.release"
    value: "${system.cluster.name}-observability-edge"
  - path: "juicefs-s3-gateway.metrics.serviceMonitor.additionalLabels.release"
    value: "${system.cluster.name}-observability-edge"
  - path: "nh-mcp-server.config.url"
    value: "http://${system.cluster.name}-private-ai-rag-nh-mcp-server.nh-addons.svc.cluster.local:8010/mcp"
  - path: "data-ingestion.config.serviceUrl"
    value: "http://${system.cluster.name}-private-ai-rag-nh-data-ingestion-api.nh-addons.svc.cluster.local:8000"
output:
  - name: Open Web UI URL
    description: The URL to access Open WebUI
    value: "https://chat.${system.cluster.name}.${system.hubCluster.ingressHostname}"
    type: url
    slug: default
