metadata:
  slug: 'ingress-warden'
  name: 'Ingress Warden'
  description: 'NGINX Ingress Controller and Cert-Manager'
  categories: ['Networking']
  logoUrlDark: 'https://www.svgrepo.com/show/373924/nginx.svg'
  logoUrlLight: 'https://www.svgrepo.com/show/373924/nginx.svg'
  detailUrl: 'https://addons.kaops.net/ingresswarden/'
  externalUrl: 'https://kubernetes.github.io/ingress-nginx/how-it-works/'
  isProduction: true
  serverSideDiff: false
  installTargets:
    hub: true
    hubRequired: false
    edge: false

forms: 
  - slug: default
    label: 'Ingress Warden configuration'
    description: 'NGINX Ingress Controller and Cert-Manager configuration'
variables:
  - slug: 'keepCRDs'
    path: 'cert-manager.crds.keep'
    forms: ['default']
    ui:
      type: 'toggle'
      label: 'Keep CRDs for Cert-Manager on uninstall'
  - slug: 'ingress-nginx'
    path: 'ingress-nginx.enabled'
    forms: ['default']
    ui:
      type: 'toggle'
      label: 'NGINX Ingress Controller'
      value: true
  - slug: 'cert-manager'
    path: 'cert-manager.enabled'
    forms: ['default']
    ui:
      type: 'toggle'
      label: 'Cert-Manager'
      value: true
  - slug: 'ingress-nginx-service-external'
    path: 'ingress-nginx.service.controller.external.enabled'
    forms: ['default']
    ui:
      type: 'toggle'
      label: 'External Service'
      value: true
  - slug: 'ingress-nginx-service-internal'
    path: 'ingress-nginx.service.controller.internal.enabled'
    forms: ['default']
    ui:
      type: 'toggle'
      label: 'Internal Service'
      value: false